<li id="comment-<%= c.id %>"><%= c.content %> by <%= c.user.try(:display_name) %>

  <% if current_user && c.user == current_user %>
    (<%= link_to "Delete", topic_comment_path(@topic, c), :method => :delete, :remote => true %>)
  <% end %>

</li>
