
<h2>Todo List</h2>

<input type="text" id="todo-input">
<input type="submit" id="todo-submit">

<ul id="todo-list">
</ul>


<script>

$.ajax({
  url: "/todos",
  dataType: "json",
  success: function(data){
    data.forEach(function(todo){
       $("#todo-list").append("<li data-id='" + todo.id + "'>" + todo.title + " <a href='#' class='remove-todo'>(remove)</a></li>");
    })
  }
})

$("#todo-submit").click(function(){
  var title = $("#todo-input").val();
  $.ajax({
    url: "/todos",
    type: "POST",
    data: {
      title: title
    },
    dataType: "json",
    success: function(data) {
      $("#todo-list").append("<li>" + title + " <a href='#'>(remove)</a></li>")
      $("#todo-input").val("");
    }
  })
})

$("#todo-list").on("click", ".remove-todo", function(e){
  e.preventDefault();

  var remove_tag = $(this);
  var li_tag = $(this).closest("li");

  var todo_id = li_tag.data("id");

  $.ajax({
    url : "/todos/" + todo_id,
    type: "DELETE",
    success: function() {
      li_tag.remove();
    }
  })
})

</script>