<li data-id="<%%= todo.id %>">
  <%%= todo.title %>

  <a href='#' class='remove-todo'>(remove)</a>

  <!--
    just demo EJS inside Ruby erb
  -->

  <img src="<%= asset_path("alpha-logo.png") %>" width="36">

</li>
